<section class="about" id="about">
  <div class="row">
    <div class="column">
      {% include _conference-icon.html %}
      <h1>Atendimento</h1>
      <p>O nosso atendimento pode ser feito por meio de agendamentos ou procedimento de urgência, de acordo com a sua necessidade.</p>
    </div>

    <div class="column">
      {% include _staff-icon.html %}
      <h1>Serviços Prestados</h1>
      <p>- Revisão Geral</p>
      <p>- Troca de peças originais</p>
      <p>- Diagnósticos de mal funcionamento</p>
      <p>- Limpeza e ajustes</p>
    </div>
  </div>
</section>
