<section class="location" id="location">
  <div class="row">
    {% include _maps-icon.html %}

    <h1>Distrito Federal - Brasília</h1>
  </div>

  <div class="row rates">
    <div class="tax">
      <h2>Atendemos também o entorno do DF</h2>
        <p>Cidade Ocidental</p>
        <p>Valparaiso</p>
        <p>Novo Gama</p>
    </div>

    <div class="tax">
      <h2>Atendemos também em condomínios</h2>
        <p>Alphaville</p>
        <p>Bernardo sayão</p>
        <p>Lago Sul</p>
    </div>
  </div>
</section>
