<section class="speakers" id="speakers">
  <div class="row">
    <h1>Contato</h1>

    <ul class="speakers-list">
      <li class="speaker">
        <a href="http://continuum.io/author/bryanv" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/ed.jpg" alt="Bryan Van de Ven">
          </div>

          <h2 class="speaker-name">Edvaldo Caetano</h2>
      </li>
      <li class="speaker">
        <a href="http://continuum.io/author/bryanv" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/no-speaker.jpg" alt="Bryan Van de Ven">
          </div>

          <h2 class="speaker-name">Celular Vivo (61)9971-9923</h2>
      </li>
      <li class="speaker">
        <a href="http://continuum.io/author/bryanv" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/no-speaker.jpg" alt="Bryan Van de Ven">
          </div>

          <h2 class="speaker-name">Celular Claro (61)9215-7999</h2>
      </li> 
      <li class="speaker">
        <a href="http://continuum.io/author/bryanv" target="_blank" class="speaker-link">
          <div class="photo">
            <img src="images/speakers/gmail.jpg" alt="Bryan Van de Ven">
          </div>

          <h2 class="speaker-name">Email</h2>
          <p class="speaker-description">edcaetanooliveira@gmail.com</p>
        </a>
      </li>
    </ul>
  </div>
</section>
